<h2>Howdy <%= @user.first_name %></h2>
<br>
<h3>Past Reviews</h3>
<p><% @user.reviews.each do |review| %>
<%= review.camp.name %><br>
<%= review.rating %><br>
<%= review.comments %><br>

<% end %> </p>
